@keyframes animate-grid {
  0% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(0px); }
  100% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(30px); } }
@keyframes right-turn-grid {
  0% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(0px); }
  100% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(30px); } }
@keyframes track-paint-anim {
  0% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(-360px); }
  100% {
    transform: perspective(80vh) rotateX(60deg) translateZ(10px) translateY(320px); } }
.move-right {
  transform: translateX(30vw);
  transition: 500ms; }

.straight-track {
  border: 10px solid #000000; }

body {
  overflow: hidden; }
